*{
    box-sizing: border-box;
}

html,body{
    margin: 0px;

}
.file{
    width: 78px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    cursor: pointer;
    min-height: 25px;
    font-family: system-ui;
    font-size: larger;
    border-left-style: inset;
    margin-left: 5px;
}
.new{
    width: 74px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    cursor: pointer;
    min-height: 25px;
    font-family: system-ui;
    font-size: larger;
}
.save{
    width: 69px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    cursor: pointer;
    min-height: 25px;
    font-family: system-ui;
    font-size: larger;
    border-left-style: inset;
}
.open{
    width: 79px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    cursor: pointer;
    min-height: 25px;
    font-family: system-ui;
    font-size: larger;
    border-left-style: inset;
}
.file:hover, .home:hover, .new:hover, .save:hover,.open:hover, #bold:hover, #underline:hover, #italic:hover, input[type="color"]:hover, .alignment input[type="button"]:hover{
    background-color: lightgrey;
   
}

.cell:hover{
    box-shadow: 3px 3px 4px grey;
}


.home{
    width: 80px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    cursor: pointer;
    min-height: 25px;
    font-family: system-ui;
    font-size: larger;
    border-left-style: inset;

}

.address{
    justify-content: center;
    display: flex;
    min-width: 222px;
    
}
.addFormula{
    
}
.addressInput{
    max-height: 22px;
    cursor: context-menu;
}
.FormulaInput{
    max-height: 22px;

}
.leftMost{
    position: absolute;
    top: 24px;
    border: 1px solid lightslategray;
    min-width: 32px;
    background-color: aliceblue;
    z-index: 2;
}
.topMost{
    display: flex;
    position: absolute;
    left: 31px;
    background-color: aliceblue;
    align-items: center;
    z-index: 2;

}
.topLeft{
    min-width: 31px;
    border: 1px solid;
    min-height: 25px;
    position: absolute;
    z-index: 3;
    background-color: aliceblue;
}
.leftMostCell{
    border: 1px solid lightslategrey;
    text-align: center;
    font-family: cursive;
    height: 25px;
}
.topMostCell{
    min-width: 70px;
    border: 1px solid lightslategrey;
    max-height: 25px;
    min-height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.menuBar{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menuOptions{
    height: 55px;
    display: flex;
    align-items: center;
    border-top: 1px;
    background-color: aliceblue;
    border-top-style: groove;
}
.fileOptions{
    display: none;
}
.font-size{
    display: flex;
    justify-content: center;
    border-left-style: inset;
    width: 90px;
}
#fontsize{
    border: none;
    width: 50px;
    height: 25px;
    font-size: inherit;
    background-color: aliceblue;
}
.color{
    width: 130px;
    display: flex;
    height: 25px;
    justify-content: space-evenly;
    border-left-style: inset;
}
input[type="color"]{
    border: none;
    background-color: aliceblue;
    height: 25px;
    width: 25px;
}
.alignment input[type="button"]{
    border: none;
    font-family: cursive;
    font-size: large;
    height: 25px;
    width: 25px;
    background-color: aliceblue;
}
#font{
    width: 100px;
    border: none;
    font-size: inherit;
    background-color: aliceblue;
}
#bold,#underline,#italic {
    width: 25px;
    height: 30px;
    background-color: white;
    border: none;
    font-family: cursive;
    font-size: large;
    background-color: aliceblue;
}

.fontName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;

}
.fontStyler{
    display: flex;
    justify-content: space-evenly;
    width: 149px;
    border-left-style: inset;
}

.homeOptions{
    display: none;
}
.formatting{
    min-width: 310px;
    display: flex;
}
.alignment{
    border-left-style: inset;
    height: 25px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.style{
    min-width: 179px;
    display: flex;
    align-items: center;
}

.formula{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 1px;
    border-top: 1px;
    border-top-style: groove;
}


.active{
    display: flex;
}

.content{
    overflow: auto;
    height: calc(100vh - 170px);
    position: relative;
}
.cells{
    position: absolute;
    top: 25px;
    left: 31px;

}
.rows{
    display: flex;

}
.cell{
    border: 1px solid lightslategrey;
    min-width: 70px;
    max-width: 70px;
    min-height: 25px;

}

.sheets{
    border: 1px solid;
    height: 25px;
}

select[name="font"] option{

}

.content::-webkit-scrollbar {
    width: 13px;
}
 
.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    
    
}
 
.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
